@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hero__title {
    font-size: 42px;
  }
  .advantages__inner {
    gap: 40px;
  }
  .burger {display: none;}
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.98);
    backdrop-filter: blur(15px);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    border-left: 1px solid $accent-color;
    visibility: hidden;

    &.active {
      right: 0;
      visibility: visible
    }

    &__list {
      flex-direction: column;
      gap: 40px;
    }

    &__link {
      font-size: 24px;
    }
  }

  .burger {
    display: flex !important;
    flex-direction: column;
    gap: 6px;
    z-index: 2100;
    cursor: pointer;

    span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: $accent-color;
      transition: 0.3s;
    }

    &.active {
      span:nth-child(1) { transform: translateY(9px) rotate(45deg); }

      span:nth-child(2) { opacity: 0; }

      span:nth-child(3) { transform: translateY(-9px) rotate(-45deg); }
    }
  }

  .hero {
    height: auto;
    padding: 100px 0;
    text-align: center;

    &__title { font-size: 32px; }

    &__description { font-size: 16px; }

    &__buttons {justify-content: center;}
  }


  // Services
  .services {
    padding: 60px 0;

    &__grid {
      grid-template-columns: repeat(2, 1fr); // 2 колонки вместо 3
    }
  }

  // Advantages
  .advantages {
    padding: 60px 0;

    &__inner {
      flex-direction: column;
      text-align: center;
    }

    &__image-wrapper {
      max-width: 500px;
      margin: 0 auto;
    }

    &__list_advantageItem {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  // Portfolio
  .portfolio {
    padding: 60px 0;

    &__top {
      flex-direction: column;
    }
  }
  // Booking
  .booking {
    padding: 60px 0;

    &__inner {
      flex-direction: column;
      gap: 60px;
    }

    .prices, .contacts-form {
      width: 100%;
    }
  }

  .footer {padding: 60px 0 40px}

}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .services__title {
    font-size: 32px;
  }

  // Portfolio
  .portfolio__top {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .portfolio__filters {
    width: 100%;
    display: flex;
    overflow-x: auto; // Чтобы фильтры можно было скроллить пальцем
    padding-bottom: 10px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .portfolio__grid {
    grid-template-columns: 1fr; // 1 колонка
  }

  // Footer
  .footer__inner {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .footer__text {
    margin: 20px auto 0;
  }
  .footer__socials {
    justify-content: center;
  }
  .services__grid { grid-template-columns: 1fr; }
  .booking__inner { flex-direction: column; gap: 40px; }
  .portfolio__grid { grid-template-columns: 1fr; }
}

@media (max-width: 576px) {
  .hero__title {
    font-size: 28px;
  }
  .hero__buttons {
    flex-direction: column;

    &_btn {
      width: 100%;
      justify-content: center;
    }
  }

  .services__grid {
    grid-template-columns: 1fr;
  }

  .price-row {
    font-size: 14px;

    &__dots {
      margin: 0 5px;
    }
  }

  .contacts-form {
    padding: 30px 15px;
  }
  .logo-black {font-size: 18px}
  .logo-mirror {font-size: 18px}
  .orderCall {
    font-size: 14px;
    letter-spacing: 0;
    text-transform: capitalize;
    font-weight: 600;
    padding: 8px 10px;
  }
}

@media (max-width: 320px) {
  .hero__title {
    font-size: 26px;
  }
  .logo-black, .logo-mirror {
    font-size: 18px;
  }

  .orderCall {
    font-size: 12px;
    font-weight: 600;
    border: none;
    letter-spacing: 0;
    padding: 5px 0;
    border-radius: 0;
    text-transform: capitalize;
    border-bottom: 1px solid $accent-color;
  }

  .burger {
    gap: 5px;

    & span {
      width: 20px;
      height: 2px;
    }
  }

  .services {padding: 50px 0;}
  .services__title {font-size: 22px}
  .services__footer_downloadBtn {padding: 8px 6px; font-size: 14px}

  .advantages {padding: 50px 0;}
  .advantages__frame {border-top: none}

  .portfolio {padding: 50px 0;}
  .portfolio__filters {flex-wrap: wrap}
  .filter-btn {padding: 5px 12px;}
  .portfolio__img {height: auto;}

  .booking {padding: 50px 0;}

  .footer {
    padding: 50px 0 40px;

    & .logo-black, & .logo-mirror {
      font-size: 24px;
    }
  }
}

body.no-scroll {
  overflow: hidden;
}